@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* ------ Primary ------ */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    /* ------ Neutral ------ */
    --verydarkblue: hsl(234, 12%, 34%);
    --grayishblue: hsl(229, 6%, 66%);
    --verylightgray: hsl(0, 0%, 98%);
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Poppins';
    background-color: var(--verylightgray);
    width: 1440px;
    height: 1072px;
}
main {
    text-align: center;
}
.title-1 {
    font-size: 40px;
    font-weight: 200;
}
.title-2 {
    line-height: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--verydarkblue);
}
.legend {
    color: var(--grayishblue);
    padding: 1em;
}
.cards {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}
.cards h2 {
    line-height: 0;
    color: var(--verydarkblue);
}
.cards p {
    color: var(--grayishblue);
    font-size: 15px;
}
.ghost1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.ghost2 {
    height: 520px;
    padding-top: 130px;
    padding-bottom:130px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.card-1 {
    border-top-width: 5px;
    border-top-style: solid;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--cyan);
    box-shadow: 5px 5px 8px darkgrey;   
}
.card-1:hover {
    cursor: pointer;
}
.card-2 {
    border-top-width: 5px;
    border-top-style: solid;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--red);
    box-shadow: 5px 5px 8px darkgrey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.card-2:hover {
    cursor: pointer;
}
.card-3 {
    border-top-width: 5px;
    border-top-style: solid;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--orange);
    box-shadow: 5px 5px 8px darkgrey;
}
.card-3:hover {
    cursor: pointer;
}
.card-4 {
    border-top-width: 5px;
    border-top-style: solid;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--blue);
    box-shadow: 5px 5px 8px darkgrey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.card-4:hover {
    cursor: pointer;
}
.attribution {
    padding: 20px 10px;
    margin: 16px;
    width: 400px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}